<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cloudbank.inacio.walter.cloudbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Apresentacao"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cartoes"
            android:label="@string/title_activity_cartoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaFaturas"
            android:label="@string/title_activity_lista_faturas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MinhaConta"
            android:label="@string/title_activity_minha_conta"
            android:parentActivityName=".ListaFaturas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.cloudbank.inacio.walter.cloudbank.ListaFaturas" />
        </activity>
    </application>

</manifest>